.container {
  .body {
    .numItem {
      line-height: 200rpx;
      border: 1px solid #efefef;
      border-radius: 8rpx;
      text-align: center;
      margin: 15rpx;
      text-shadow: 0rpx 0rpx 5rpx #fff;
      box-shadow: 1rpx 1rpx 6rpx #aaa;
    }

  }
}